<p id="notice"><%= notice %></p>

<p>
  <strong>Main:</strong>
  <%= @type.Main %>
</p>

<p>
  <strong>Secondary:</strong>
  <%= @type.Secondary %>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
